<div class="row">
    <div class="col-sm-4">
        <div class="card">
            <div class="container">
                <span class="cardfigure">
                    {{TotalRecived}}
                </span>
                <span class="footertext">
                    Total Amount of Money Received
                </span>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card">
            <div class="container">
                <span class="cardfigure">
                    {{AvgPerPerson}}
                </span>
                <span class="footertext">
                    Average contribution/Person
                </span>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card">
            <div class="container">
                <span class="cardfigure">
                    {{NoOfContribution}}
                </span>
                <span class="footertext">
                    Number of people contributed
                </span>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-mg-4 col-lg-4 table-container m1">
        <table mat-table [dataSource]="donordataSource" class="mat-elevation-z8" style="width: 100%;">
            <!-- Date Column -->
            <ng-container matColumnDef="date">
                <th mat-header-cell *matHeaderCellDef> Date </th>
                <td mat-cell *matCellDef="let element"> {{element.Date}} </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Name </th>
                <td mat-cell *matCellDef="let element"> {{element.Name}} </td>
            </ng-container>

            <!-- Amount Column -->
            <ng-container matColumnDef="amount">
                <th mat-header-cell *matHeaderCellDef> Amt Received </th>
                <td mat-cell *matCellDef="let element"> {{element.Amount}} </td>
            </ng-container>


            <tr mat-header-row *matHeaderRowDef="donordisplaycolumns;sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: donordisplaycolumns;"></tr>
        </table>
    </div>
    <div class="col-mg-4 col-lg-4">
        <div class="card">
            <div class="container">
                <span class="cardfigure">
                    {{TotalFood}}
                </span>
                <span class="footertext">
                    Total number of needy fed
                </span>
            </div>
        </div>
        <div class="card" style="margin-top: 10px;">
            <div class="container">
                <span class="cardfigure">
                    {{TotalLiquid}}
                </span>
                <span class="footertext">
                   Bottles of liquid distributed
                </span>
            </div>
        </div>
        <div class="card" style="margin-top: 10px;">
            <div class="container">
                <span class="cardfigure">
                    {{RationKits}}
                </span>
                <span class="footertext">
                    Ration kits given out
                </span>
            </div>
        </div>
        <div class="card" style="margin-top: 10px;">
            <div class="container">
                <span class="cardfigure">
                    {{TotalDrive}}
                </span>
                <span class="footertext">
                    Number of drives carried out
                </span>
            </div>
        </div>
    </div>
    <div class="col-mg-4 col-lg-4 table-container">
        <table mat-table [dataSource]="expensedataSource" class="mat-elevation-z8" style="width: 100%;">
            <!-- Date Column -->
            <ng-container matColumnDef="date">
                <th mat-header-cell *matHeaderCellDef> Exp Date </th>
                <td mat-cell *matCellDef="let element"> {{element.Date}} </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="expense">
                <th mat-header-cell *matHeaderCellDef> Expense </th>
                <td mat-cell *matCellDef="let element"> {{element.Expense}} </td>
            </ng-container>

            <!-- Amount Column -->
            <ng-container matColumnDef="details">
                <th mat-header-cell *matHeaderCellDef> Details </th>
                <td mat-cell *matCellDef="let element"> {{element.Details}} </td>
            </ng-container>


            <tr mat-header-row *matHeaderRowDef="expensedisplaycolumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: expensedisplaycolumns;"></tr>
        </table>
    </div>
</div>